@font-face {
    font-family: insanibu;
    src: url(fuentes/Insanibu.ttf);
}

.container-fluid{
    height: auto;
    width: 100%;
}

.headerContainer{
    background: linear-gradient(
        269.13deg, #FFFFFF 0%, rgba(200, 54, 53, 0.501121) 49.89%, rgba(217, 213, 217, 0) 100%
    );
    width: 100vw;
    height: 23vh;
    display:flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Estilos Página Inicio */

h1{
    color: #FFFFFF;
    font-family: insanibu;
    font-size: 2.5em;
    -webkit-text-stroke: 0.5px rgb(109, 3, 3);
    text-align: center
}

.header_logo, .header_logo1{
    height: 20vh;
}

.question{
    background: rgba(200, 54, 53, 0.501121);
    /* border: 1px solid #FFFFFF; */
    box-sizing: border-box;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    /* border-radius: 25px; */
    width: 100%;
    margin-top: 5vh;
    text-align: center;
}

p{
    color: snow;
    -webkit-text-stroke: 0.5px rgb(56, 55, 55);
    font-family: insanibu;
    font-size: 1.5em;

}


.home_icons{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 10vh;
    margin-bottom: 5vh;
}

.button-mesero,
.button-chef
{
    background: rgba(200, 54, 53, 0.501121);
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    display:flex;
    align-items: center;
    width: 300px;
    justify-content: space-between;
}

h2{
    color: snow;
    margin-left: 20px;
    width: 200px;
    text-align: center;
    -webkit-text-stroke: 0.5px rgb(56, 55, 55);
    font-family: insanibu;
}

/* Estilos Página Mesero */

.customerInfo{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 3vh;
}

label{
    padding: 10px;
    margin: 10px;
    background: rgba(200, 54, 53, 0.701121);
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 15px;
    display: flex;
    flex-flow: column wrap;
    color: aliceblue;
    -webkit-text-stroke: 0.5px rgb(56, 55, 55);
    font-family: insanibu;
}

.input{
    border-radius: 5px;
    margin: 5px
}


/* ! estilos menu nav bar */
.nav-link{
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    background: rgba(200, 54, 53, 0.501121);
    border-radius: 10px;
    color: #FFFFFF;
    font-family: insanibu;
    text-align: center;
}



.nav-item{
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    background: rgba(200, 54, 53, 0.501121);
    border-radius: 10px;
    color: #FFFFFF;
    font-size: small;
}
/* ! Fin estilos menu nav bar */

/* ? estilos active nav bar */
.nav-pills .nav-link.active{
    background:#cca831;
    border-bottom: 1px solid transparent;
  }

/* ! Fin estilos active nav bar */


/* ! estilos contenedor menu */

.contenerdorMenu{
    padding-left: 0px;
    background: rgba(200, 54, 53, 0.501121);
    border-radius: 20px;
    border: 1px solid #FFFFFF;
}

.container-product{
    display: flex;
    align-items: center;
    border-bottom: 2px solid black;
    padding: 10px;
}

/* ! Fin estilos contenedor menu */

/* ! estilos elementos dentro del menu*/
.text-menu{
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-img{
    width: 100px;
    margin: 10px;
    display: flex;
    justify-content: center;
}

/* ! Fin estilos elementos dentro del menu*/

/* ! estilos contenedor resumen del pedido*/
.resume-order{
    padding-left: 0px;
    background: rgba(200, 54, 53, 0.6);
    border-radius: 20px;
    border: 1px solid #FFFFFF;
    padding: 10px;
    display: flex;
    flex-flow: row;
}

/* ? estilos textos contenedor resumen del pedido*/
h3{
    font-size: 20px;
    font-family: insanibu;
    color: #FFFFFF;
    text-align: center;
}

h4{
    font-size: 18px;
    font-family: insanibu;
    text-align: center;
    color: #FFFFFF;
}

.productValue{
    text-align: right;
}

/* ? estilos contenedor btns contador*/
.count-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}

.total-value{
    text-align: end;
    margin-top: 10px;
}

.button-container{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.deleteBotton{
    position:relative;  
    top:-62px;
    left: -36px; 
}

/* ! Fin estilos contenedor resumen del pedido*/


/* ! estilos navbar estado pedidos*/
.nav-link{
    background-color: brown;
}

.nav-link:hover{
    background-color: rgb(184, 159, 18);
}


.nav-link a{
    text-decoration: none;
    outline: none;
    color: whitesmoke;
    text-align: center;
}

/* ! estilos tarjetas info estados pedidos vista mesero*/
.card-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.card{
    background-color: rgba(200, 54, 53, 0.85);
}

.container-date{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.card-text{
    font-size: 17px;
    line-height : 20px;
    font-family:monospace;
    font-weight: bolder;
}

.text-center{
    color: whitesmoke;
    font-size: 15px;
    font-family:monospace;
}


/* ! estilos tarjetas info estados pedidos vista chef*/
.container-card-text{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: -20px;
}

/* ! estilos tarjetas info estados terminado vista chef*/
.card-delivered{
    background-color: rgba(99, 96, 92, 0.781);
    border-radius: 5px;
}


/*Estilo para tablet vertical mediaQuery*/
@media (max-width:671px){
    .header_logo{
        display: none;
    }
    .header_logo1{
        height: 80px;
    } 
    h2{
        height: 10px;
    } 
}
